#sync__plugin__form {
    display: flex;
    flex-wrap: wrap;

    > div {
        flex-grow: 1;
        flex-basis: auto;
        width: 400px;

        fieldset {
            width: 90%;

            samp,
            label {
                margin-bottom: 0.4em;
                display: flex;
                > * {
                    flex-grow: 0;
                    width: 50%;
                }
            }
        }
    }
}

#sync__progress {
    position: relative;

    div.label {
        position: absolute;
        padding: 4px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
        text-align: center;
        overflow: hidden;
    }
}

#sync__plugin {
    table {
        table-layout: fixed;
        width: 100%;

        th, td {
            vertical-align: middle;
        }

        th.dir,
        td.dir {
            width: 6em;
        }

        td.dir{
            display: flex;
            border: none;
            padding-top: .5em;
        }

        th.local,
        td.local,
        th.remote,
        td.remote {
            white-space: nowrap;
            width: 9em;
        }

        th.diff,
        td.diff {
            width: 4em;
        }
    }
}

// custom radio icons

.sync-dir {

    position: relative;
    cursor: pointer;
    margin: 5px;
    width: 15px;
    height: 15px;

    &__input {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 1;

        &-push {
            &:checked ~ .sync-dir__svg-push {
                &::after {
                    display: block;
                    content: url(pix/arrow-right-bold-circle.svg);
                }
            }
        }

        &-skip {
            &:checked ~ .sync-dir__svg-skip {
                &::after {
                    display: block;
                    content: url(pix/pause-circle.svg);
                }
            }
        }

        &-pull {
            &:checked ~ .sync-dir__svg-pull {
                &::after {
                    display: block;
                    content: url(pix/arrow-left-bold-circle.svg);
                }
            }
        }
    }

    &__svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;

        &-push {
            &::after {
                display: block;
                content: url(pix/arrow-right-bold-circle-outline.svg);
                position: absolute;
                top: 50%;
                transform: translate(-20%,-105%);
                height: 70%;
                color: @ini_text;
                fill: red;
            }
        }

        &-skip {
            &::after {
                display: block;
                content: url(pix/pause-circle-outline.svg);
                position: absolute;
                top: 50%;
                transform: translate(-20%,-105%);
                height: 70%;
                color: @ini_text;
                fill: red;
            }
        }

        &-pull {
            &::after {
                display: block;
                content: url(pix/arrow-left-bold-circle-outline.svg);
                position: absolute;
                top: 50%;
                transform: translate(-20%,-105%);
                height: 70%;
                color: @ini_text;
                fill: red;

            }
        }
    }
}
